.kaufman__triangle {
    width: 877px;
    height: 877px;
    background-image: url(../../../images/kaufman-triangle.svg);
    background-size: cover;
    position: absolute;
    top: -6px;
    right: -210px;
  }