.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.logo {
  width: 183px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 1;
  height: 32px;
}

.header__title {
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  max-width: 388px;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__link {
  z-index: 2;
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  display: flex;
  justify-content: center;
}

.page__description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  max-width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0 auto 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px auto 100px;
}

.section-title {
  width: 60%;
  margin: 0 auto 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle{
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px auto 0;
  line-height: 1.2;
  font-size: 18px;
}

.feynman {
  background-color: #f2f2f2;
  position: relative;
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  max-width: 648px;
  text-align: center;
  align-content: center;
  margin: 100px auto 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  z-index: 1;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  padding-top: 90px;
  margin: 0;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  margin: 20px auto 0;
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 90px;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0;
}

.table__heading_theme_dark {
  margin: 0;
}

.table__text_theme_dark {
  margin-top: 20px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  top: -6px;
  right: -210px;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  background-size: cover;
  height: 35px;
}

.footer__columns {
  margin: 0 auto 40px auto;
  padding-top: 60px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
  justify-content: start;
}

.footer__column_content_social {
  justify-content: start;
}

.footer__author {
  margin: 18px 0 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}