.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.logo {
  background-image: url(../images/logo_place_header.svg);
  z-index: 0;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 1;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__link {
  z-index: 2;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  display: flex;
  justify-content: center;
}

.page__description {
  margin-top: 100px;
}

.description__link{
  text-decoration: none;
}

.two-columns{
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page__digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-title_theme_dark {
  color: white;
  padding-top: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.section-subtitle_theme_dark {
  color: white;
  margin-top: 20px;
  margin-bottom: 0;
}

.digits__section_title {
  margin-top: 0;
  margin-bottom: 0;
}

.section-subtitle{
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits__section-subtitle {
  margin-top: 20px;
  margin-bottom: 0%;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.feynman {
  background-color: #f2f2f2;
  position: relative;
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  width: 648px;
  text-align: center;
  align-content: center;
  margin-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  z-index: 1;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}